<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBi_v430psikc3K_0eFlD_31jW3U5HGiTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>98949199772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kiloiSm.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kiloism-63680</string>
	<key>STORAGE_BUCKET</key>
	<string>kiloism-63680.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98949199772:ios:a49d47a9a54ca4cd303a59</string>
	<key>DATABASE_URL</key>
	<string>https://kiloism-63680-default-rtdb.firebaseio.com</string>
</dict>
</plist>